.python {
    /*font-family: 'JetBrains Mono', Courier, monospace; !* 设置字体 *!*/
    font-family: 'JetBrains Mono', monospace; /* 设置字体 */
    font-size: 14px; /* 设置字体大小为 13px */
    line-height: 1.6; /* 设置行高为字体大小的1.2倍 */
    tab-size: 4; /* 设置制表符宽度 */
}

pre {
    max-width: 1000px; /* 设置代码块的最大宽度 */
    margin: auto; /* 在容器中水平居中代码块 */
    overflow-x: auto; /* 如果代码宽度超出容器宽度，则显示横向滚动条 */
    border-radius: 5px; /* 设置边角为圆角 */
}